@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 240, 240;
  --background-start-rgb: 14, 38, 57;
  --background-end-rgb: 26, 58, 74;
  --text-color: #000;
  --white: #e6e6e6;
  --button-color: 34, 36, 53;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 240, 240;
    --background-start-rgb: 14, 38, 57;
    --background-end-rgb: 55, 95, 120;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
